{
  "extends": "kupibilet",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src", "src/img"]
      }
    }
  },
  "rules": {
    "linebreak-style": 0
  },
  "globals": {
    "window": true,
    "document": true
  }
}